# APP_URL: The public domain where MYID is hosted
APP_URL="https://myid.netlify.app"

# ADMIN_SECRET: Secret password for logging into the admin dashboard (/admin)
ADMIN_SECRET="myid_admin_secret_key_2026"

# Optional Database & Storage for serverless persistence (if hosted with database)
DATABASE_URL=""
STORAGE_URL=""
STORAGE_KEY=""
